WebApplication1/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ConsoleApp1/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ConsoleApp1/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ConsoleApp1/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ConsoleApp1.Classi" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ConsoleApp1/Service1/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Registrazione_InputMessage">
    <wsdl:part name="parameters" element="tns:Registrazione" />
  </wsdl:message>
  <wsdl:message name="IService1_Registrazione_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrazioneResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginUtente_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginUtente" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginUtente_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginUtenteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FillListAttrezzi_InputMessage">
    <wsdl:part name="parameters" element="tns:FillListAttrezzi" />
  </wsdl:message>
  <wsdl:message name="IService1_FillListAttrezzi_OutputMessage">
    <wsdl:part name="parameters" element="tns:FillListAttrezziResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Addattrezzi_InputMessage">
    <wsdl:part name="parameters" element="tns:Addattrezzi" />
  </wsdl:message>
  <wsdl:message name="IService1_Addattrezzi_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddattrezziResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_viewSpecificheattrezzi_InputMessage">
    <wsdl:part name="parameters" element="tns:viewSpecificheattrezzi" />
  </wsdl:message>
  <wsdl:message name="IService1_viewSpecificheattrezzi_OutputMessage">
    <wsdl:part name="parameters" element="tns:viewSpecificheattrezziResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_crearecarrello_InputMessage">
    <wsdl:part name="parameters" element="tns:crearecarrello" />
  </wsdl:message>
  <wsdl:message name="IService1_crearecarrello_OutputMessage">
    <wsdl:part name="parameters" element="tns:crearecarrelloResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Removeattrezzi_InputMessage">
    <wsdl:part name="parameters" element="tns:Removeattrezzi" />
  </wsdl:message>
  <wsdl:message name="IService1_Removeattrezzi_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveattrezziResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ViewCarrello_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewCarrello" />
  </wsdl:message>
  <wsdl:message name="IService1_ViewCarrello_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewCarrelloResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Removecarrello_InputMessage">
    <wsdl:part name="parameters" element="tns:Removecarrello" />
  </wsdl:message>
  <wsdl:message name="IService1_Removecarrello_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemovecarrelloResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ViewUtenti_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewUtenti" />
  </wsdl:message>
  <wsdl:message name="IService1_ViewUtenti_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewUtentiResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ViewVendite_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewVendite" />
  </wsdl:message>
  <wsdl:message name="IService1_ViewVendite_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewVenditeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Buy_InputMessage">
    <wsdl:part name="parameters" element="tns:Buy" />
  </wsdl:message>
  <wsdl:message name="IService1_Buy_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuyResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Registrazione">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Registrazione" message="tns:IService1_Registrazione_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegistrazioneResponse" message="tns:IService1_Registrazione_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginUtente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoginUtente" message="tns:IService1_LoginUtente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginUtenteResponse" message="tns:IService1_LoginUtente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoginAdmin" message="tns:IService1_LoginAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginAdminResponse" message="tns:IService1_LoginAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FillListAttrezzi">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FillListAttrezzi" message="tns:IService1_FillListAttrezzi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FillListAttrezziResponse" message="tns:IService1_FillListAttrezzi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Addattrezzi">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Addattrezzi" message="tns:IService1_Addattrezzi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddattrezziResponse" message="tns:IService1_Addattrezzi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="viewSpecificheattrezzi">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/viewSpecificheattrezzi" message="tns:IService1_viewSpecificheattrezzi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/viewSpecificheattrezziResponse" message="tns:IService1_viewSpecificheattrezzi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="crearecarrello">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/crearecarrello" message="tns:IService1_crearecarrello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/crearecarrelloResponse" message="tns:IService1_crearecarrello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Removeattrezzi">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Removeattrezzi" message="tns:IService1_Removeattrezzi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RemoveattrezziResponse" message="tns:IService1_Removeattrezzi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewCarrello">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ViewCarrello" message="tns:IService1_ViewCarrello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ViewCarrelloResponse" message="tns:IService1_ViewCarrello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Removecarrello">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Removecarrello" message="tns:IService1_Removecarrello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RemovecarrelloResponse" message="tns:IService1_Removecarrello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewUtenti">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ViewUtenti" message="tns:IService1_ViewUtenti_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ViewUtentiResponse" message="tns:IService1_ViewUtenti_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewVendite">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ViewVendite" message="tns:IService1_ViewVendite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ViewVenditeResponse" message="tns:IService1_ViewVendite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Buy">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Buy" message="tns:IService1_Buy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BuyResponse" message="tns:IService1_Buy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Registrazione">
      <soap:operation soapAction="http://tempuri.org/IService1/Registrazione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUtente">
      <soap:operation soapAction="http://tempuri.org/IService1/LoginUtente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginAdmin">
      <soap:operation soapAction="http://tempuri.org/IService1/LoginAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillListAttrezzi">
      <soap:operation soapAction="http://tempuri.org/IService1/FillListAttrezzi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Addattrezzi">
      <soap:operation soapAction="http://tempuri.org/IService1/Addattrezzi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="viewSpecificheattrezzi">
      <soap:operation soapAction="http://tempuri.org/IService1/viewSpecificheattrezzi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearecarrello">
      <soap:operation soapAction="http://tempuri.org/IService1/crearecarrello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Removeattrezzi">
      <soap:operation soapAction="http://tempuri.org/IService1/Removeattrezzi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewCarrello">
      <soap:operation soapAction="http://tempuri.org/IService1/ViewCarrello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Removecarrello">
      <soap:operation soapAction="http://tempuri.org/IService1/Removecarrello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewUtenti">
      <soap:operation soapAction="http://tempuri.org/IService1/ViewUtenti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewVendite">
      <soap:operation soapAction="http://tempuri.org/IService1/ViewVendite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buy">
      <soap:operation soapAction="http://tempuri.org/IService1/Buy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ConsoleApp1/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>